body{
    text-shadow: none;
    color: #FFF;
    background-color: #071338;
    text-align: center;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
	margin:0;
 
}
.navigation{
    font-size: 14px;
    background-color: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 25px 0px;   
    position: fixed;
}

#nav {
   
    color: #A3A3A3;  
    text-transform: uppercase;
    /*text-align: left;*/
    width: 740px;
    min-height: 45px;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    display: block;
    
}

a{
    color: inherit;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    margin-left: 30px;
}

.logo{
    margin-left: 0px;
}

.contact{
    color: #FFF;
    background-color: rgb(40,161,166);
    border: 1px solid blue;
    padding: 5px 10px;
    border-radius: 7px;

}

.title{
    color: #FFF;
    background-color: #629DA1;
    padding-top: 30px;
    padding-bottom: 30px;
    /*margin-top: 100px;*/
    margin-top:  100px;
    width: 100%;
    font-size: 30px;
    font-weight:bold;
    
}

.articlecontainerbg{
    width: 100%;
    background-color:#FFF;
        color: #77777E;}

article{
    width: 740px;
    background-color: #FFF;
    color:#000;
    margin: auto;
    text-align: left;
    color: #77777E;
    
}

table{
    margin: auto;
}

td{
    padding: 15px;
}

th{
    background-color: #77777E;
    color: #FFF;
    text-align: center;
}

iframe{
    margin-left: 50px;
}

blockquote{
    font-style:italic;
}

audio{
    margin-left: 200px;
}

footer{
    margin: 20px;
}

iframe{
    border: none;
}
